.editor-channel-hub-list {
    height: 30em;
    overflow-y: auto !important;
}

.live-view-channel-hub-list {
    height: 25em;
    overflow-y: auto !important;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.url {
    cursor: pointer;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* extend display headings */
.display-small {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
}

/* set logo properties */
.logo {
    height: 35px;
}

/*  */
.table-row-condensed {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
}

/* set modal size */
@media (min-width: 786px) {
    .modal-lg {
        width: 600px;
    }
}

/* make div appear centered vertically */
.center-vertically {
    min-height: calc(100vh - 60px - 34px - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.plus-center-horizontally {
    align-items: center;
}

/* fix arrow button height */
.btn-arrow-fix {
    height: 34px;
}

/* client message log style */
.message-log {
    height: 93px;
    max-height: 93px;
    overflow: hidden;
}

.message-log-list-item {
    list-style-type: none;
    font-size: small;
}

/* sub-title style */
.subtitle {
    font-size: small;
}

/* project file list style */
.project-file-icon {
    margin-right: 0.5em;
}

/* footer */
.footer {
    background-color: #292b2c;
}

/* hide arrow tails background */
.btn-arrow-right:before,
.btn-arrow-left:after {
    background-color: #292b2c;
}

/* button fixed width */
.btn-wide {
    width: 150px;
}

/* glyphicons action style */
.glyphicon-action-bg {
    color: #4b5257 !important;
    font-size: 1.5em;
}

    .glyphicon-action-bg:hover {
        color: darkgreen !important;
        font-size: 1.7em;
    }

.glyphicon-action-sm {
    color: #4b5257 !important;
    font-size: 1.3em;
}

    .glyphicon-action-sm:hover {
        color: #4b5257 !important;
        font-size: 1.5em;
    }

/* alert animation */
.alert-hidden {
    opacity: 0;
    transition: all 1s ease;
}

.alert-show-fade {
    animation-name: alert-show-fade;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes alert-show-fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* hierachical list group */
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        padding: 0.4rem 0 0.4rem 0;
    }

    .list-group.list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }

    .list-group.list-group-root > .list-group > .list-group-item {
        padding-left: 1.4em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

.list-group-item .fa {
    margin-right: 0.4em;
}

.collapse {
    display: none;
}

/* disable text selection */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* fa fix */
.fa-fix {
    font-size: 14px;
}
