html, body {
    font-family: 'Roboto';
}

html {
    min-height: 700px;
    height: 100%;
    min-width: 1750px;
    max-width: 100%;
    background-color: #215d6a;
}

body {
    min-height: 900px;
    height: 100%;
    min-width: 1750px;
    max-width: 100%;
    data-availability-chart margin: 0;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-height: 0;
}

.nav {
    color: white;
    background-color: #0d343e;
    padding: 10px 15px 10px 15px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .nav .nav-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.25rem;
    }

        .nav .nav-logo img {
            width: 35px;
            height: 35px;
            margin-right: 7px;
        }

    .nav .nav-signin {
        color: rgba(255,255,255,.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.0rem;
    }

        .nav .nav-signin:hover {
            color: white;
        }

        .nav .nav-signin svg {
            margin-left: 10px;
        }

.left-column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 300px;
}

.settings-control {
    width: 100%;
    margin-bottom: 2em;
    background-color: #ffffff00 !important;
}

    .settings-control .mdc-select__anchor {
        width: 100%;
        background-color: #ffffff00 !important;
    }

.mdc-menu {
    width: 250px;
}

.settings-content {
    background-color: #ffffffe0;
    padding: 10px;
    height: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

    .settings-content h6 {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
    }

.configuration-panel {
    margin-top: auto;
}

    .configuration-panel h6 {
        margin: 0;
        margin-bottom: 5px;
    }

.configuration-panel-hover {
    position: relative;
    width: 80px;
    height: 80px;
    user-select: none;
}

    .configuration-panel-hover:hover {
        background-color: rgba(255,255,255,.6);
        border-radius: 40px;
    }

    .configuration-panel-hover:active {
        background-color: rgba(255,255,255,.6);
        border-radius: 40px;
    }

    .configuration-panel-hover div {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .configuration-panel-hover input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
}

    .icon-button svg {
        margin-top: 8px;
        margin-bottom: 8px;
    }


.center-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 1000px;
}

    .center-column h5 {
        margin: 15px;
    }

.campaign-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffffe0;
    flex: 1.2;
    padding: 10px;
    margin: 15px;
}

.campaign-box-available {
    flex: 1;
    padding: 10px;
}

    .campaign-box-available .mdc-list {
        height: 70%;
        overflow-y: scroll;
        scrollbar-color: darkgray #fff0;
        scrollbar-width: thin;
    }

.campaign-box-selected {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.campaign-box-selected-footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 15px;
    justify-content: space-between;
    align-items: end;
    color: rgba(0, 0, 0, 0.54);
}

.campaign-box-selected-footer-date {
    margin-bottom: 0.8rem;
}

.campaign-box-selected-footer-icons {
    display: flex;
    flex-direction: row;
}

    .campaign-box-selected-footer-icons .selected {
        color: #880e4f;
    }

.long-description {
    margin: 0;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
    display: block;
    color: rgba(0, 0, 0, 0.54);
}

.mdc-dialog__content {
    padding-bottom: 0 !important;
}

.attachments {
    display: flex;
    flex-direction: column;
    margin-top: 1em !important;
}

.attachment {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.attachment-icon {
    font-size: 1.5rem;
    width: 25px;
}

.attachment-name {
    display: block;
    margin-left: 10px;
    font-size: 1.2rem;
    align-self: end;
}

.attachment a:link {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.attachment a:visited {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.attachment a:hover {
    color: black;
    text-decoration: none;
}

.attachment a:active {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.channel-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    background-color: #ffffffe0;
    padding: 10px;
    margin: 15px;
    user-select: none;
}

.available-groups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    max-width: 250px;
    min-width: 250px;
}

    .available-groups .mdc-text-field {
        background-color: #ffffff00 !important;
    }

    .available-groups .mdc-text-field {
        margin-bottom: 15px;
    }

.group-entry {
    display: flex;
    padding: 3px 5px 3px 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

    .group-entry.selected {
        background-color: #348c9f !important;
        color: white !important;
    }

        .group-entry.selected .group-entry-count {
            color: white;
        }

    .group-entry:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

.group-entry-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-entry-count {
    width: 30px;
    direction: rtl;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54);
}

.available-groups-list {
    margin-bottom: auto;
}

.available-variables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 350px;
    margin-left: 15px;
    margin-top: 15px;
}

.variable-expander {
    display: flex;
    flex-direction: column;
    height: 3rem;
    padding: 3px;
}

.variable-expander:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.variable-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.variable-datasets {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    cursor: pointer;
}

    .variable-datasets div {
        font-size: 0.9rem;
        padding: 2px 4px 2px 4px;
        margin: 0px 3px 0px 3px;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.54);
        background-color: #ffffffe0
    }

        .variable-datasets div:hover {
            background-color: rgba(1, 135, 134, 0.10);
        }

        .variable-datasets .selected {
            color: white;
            background-color: #348c9f !important;
        }

.variable-description {
    font-size: 0.9rem;
    color: #646464;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-column {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 350px;
}

.news-box {
    flex: 1.2;
    margin: 15px;
    padding: 10px 0px 10px 10px;
    min-height: 0;
    background-color: #ffffffe0 !important;
}

.news {
    height: 100%;
    overflow: auto;
    scrollbar-color: darkgray #fff0;
    scrollbar-width: thin;
}

.news-card {
    padding: 10px;
}

    .news-card span {
        font-family: Roboto, sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.01786em;
        display: block;
        color: rgba(0, 0, 0, 0.54);
        text-align: justify;
        hyphens: auto;
    }

.news-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
}

    .news-card-header span {
        padding-bottom: 5px;
    }

.variable-box {
    flex: 2;
    margin: 15px;
    background-color: #ffffffe0 !important;
    padding: 10px 0px 10px 10px;
    min-height: 0;
}

.variable-box-sub {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .variable-box-sub button {
        margin-top: auto;
        margin-right: 15px;
    }

.selected-variables {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    overflow: auto;
    margin-bottom: 15px;
    scrollbar-color: darkgray #fff0;
    scrollbar-width: thin;
}

    .selected-variables > span {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        align-self: center;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.01786em;
        color: rgba(0, 0, 0, 0.54);
    }

.selected-variable {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 15px;
    white-space: nowrap;
}

    .selected-variable:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

.selected-variable-name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 3px;
}

.selected-variable-campaign {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54);
    text-overflow: ellipsis;
    overflow: hidden;
}

.downloader {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 70px;
    background-color: #ffffffe0;
}

.downloader-headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.downloader-content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

    .downloader-content > div {
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.01786em;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 15px;
    }

    .downloader-content button {
        margin-top: 15px;
        width: 150px;
        align-self: end;
    }

    .downloader-content .mdc-linear-progress {
        height: 15px;
        color: var(--mdc-theme-primary, #6200ee);
    }

.mdc-linear-progress__bar-inner {
    display: inline-block;
    position: absolute;
    width: 100%;
    animation: none;
    border-top: 40px solid !important;
}

.data-availability {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.data-availability button {
    align-self: end;
    width: 150px;
}

.data-availability-chart-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 15px;
}

    .data-availability-chart-container span {
        margin-top: auto;
        margin-bottom: auto;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        color: rgba(0, 0, 0, 0.54);
    }

.data-availability-chart {
    display: flex;
    flex: 1;
}

.data-availability-chart .row {
    flex: 1;
}

.clear-margin {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.h-100 {
    height: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
}

    .paginator .disabled {
        color: rgba(0, 0, 0, 0.20);
    }

/* workaround for MatBlazor not applying theme colors everywhere */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #880e4f !important;
}

.mdc-select--focused:not(.mdc-select--disabled) .mdc-floating-label {
    color: #880e4f !important;
}