@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

html, body {
    font-family: 'OpenSans-Regular';
}

html {
    min-height: 700px;
    min-width: 1750px;
    max-width: 100%;
    background-color: #215d6a;
}

body {
    min-height: 700px;
    min-width: 1750px;
    max-width: 100%;
    margin: 0;
}

app {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.settings {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.news {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 350px;
}

.nav {
    color: white;
    background-color: #0d343e;
    padding: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}

.nav .nav-logo img {
    width: 35px;
    height: 35px;
    margin-right: 7px;
}

.nav .nav-signin {
    color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.0rem;
}

.nav .nav-signin:hover  {
    color: white;
}

.nav .nav-signin svg {
    margin-left: 10px;
}

.settings-control {
    width: 100%;
    margin-bottom: 2em;
    background-color: #ffffff00 !important;
}

.settings-control .mdc-select__anchor {
    width: 100%;
    background-color: #ffffff00 !important;
}

.mdc-menu {
    width: 250px;
}

.settings-content {
    background-color: #ffffffe0;
    padding: 10px;
    height: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.settings-content h6 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.content h5 {
    margin: 15px;
}

.campaign-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffffe0;
    flex: 1;
    padding: 10px;
    margin: 15px;
}

.campaign-box-available {
    flex: 1;
    padding: 10px;
    height: 300px;
}

.campaign-box-available .mdc-list {
    height: 70%;
    overflow-y: scroll;
    scrollbar-color: darkgray #fff0;
    scrollbar-width: thin;
}

.campaign-box-selected {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.campaign-box-selected-footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 15px;
    justify-content: space-between;
    align-items: end;
    color: rgba(0, 0, 0, 0.54);
}

.campaign-box-selected-footer div {
    margin-bottom: 0.5rem;
}

.long-description {
    margin: 0;
    margin-left: 15px;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
    display: block;
    color: rgba(0, 0, 0, 0.54);
}

.mdc-dialog__content {
    padding-bottom: 0 !important;
}

.attachments {
    display: flex;
    flex-direction: column;
    margin-top: 1em !important;
}

.attachment {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.attachment-icon {
    font-size: 1.5rem;
    width: 25px;
}

.attachment-name {
    display: block;
    margin-left: 10px;
    font-size: 1.2rem;
    align-self: end;
}

.attachment a:link {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.attachment a:visited {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.attachment a:hover {
    color: black;
    text-decoration: none;
}

.attachment a:active {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

.channel-box {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #ffffffe0;
    padding: 10px;
    margin: 15px;
}

.channel-box-headline {
    display: flex;
    flex-direction: row;
}

.channel-box-headline-1 {
    min-width: 220px;
    max-width: 220px;
    margin-left: 15px;
}

.channel-box-headline-2 {
    min-width: 220px;
    max-width: 220px;
    margin-left: 35px !important;
}

.channel-box-headline-3 {
    min-width: 300px;
    max-width: 300px;
    margin-left: auto !important;
}

.channel-box-headline .mdc-text-field {
    background-color: #ffffff00 !important;
}

.channel-box-headline h5 {
    flex: 1;
}

.channel-box-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.configuration-panel {
    margin-top: auto;
}

.configuration-panel h6 {
    margin: 0;
    margin-bottom: 5px;
}

.available-groups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    max-width: 220px;
    min-width: 220px;
}

.available-groups .selected {
    background-color: rgba(1, 135, 134, 0.54);
}

.available-groups .mdc-ripple-surface {
    padding: 3px;
    padding-left:5px;
    padding-right:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.available-variables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    cursor: pointer;
    min-width: 350px;
}

.variable-expander {
    display: flex;
    flex-direction: column;
    height: 3rem;
}

.variable-expander:hover {
    background-color: rgba(1, 135, 134, 0.10);
}

.variable-expander svg {
    margin-right: 0.5rem;
}

.variable-description {
    margin-left: 22px;
    font-size: 0.9rem;
    color: #646464;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variable-expander-content {
    margin-left: 22px;
}

.selected-variables {
    min-width: 300px;
    max-width: 300px;
    margin-left: auto !important;
    margin-right: 15px;
}

.news-card {
    background-color: #ffffffe0 !important;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.news-headline {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.clear-margin {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.h-100 {
    height: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
}

.paginator .disabled {
    color: rgba(0, 0, 0, 0.20);
}