<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Attachments</MatDialogTitle>
    <MatDialogContent>
        @if (this.IsOpen)
        {
            <div class="attachments">

                @foreach (var attachment in this.UserState.Attachments)
                {
                    <a class="attachment" href="@this.GetHref(attachment)" target="_blank">
                        <div class="attachment-icon">
                            <i class="far fa-@this.GetIcon(attachment)"></i>
                        </div>
                        <span class="attachment-name">
                            @this.GetFileName(attachment)
                        </span>
                    </a>
                }
            </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => this.OnIsOpenChanged(false)">Close</MatButton>
    </MatDialogActions>
</MatDialog>