@inherits StateComponentBase
@using ChartJs.Blazor;

<div class="data-availability">

    <div class="data-availability-chart-container">
        <span>Availability&nbsp;in&nbsp;%</span>
        <div class="data-availability-chart">
            <Chart @ref="_barChart" Config="this.Config"></Chart>
        </div>
    </div>

    <MatButton OnClick="this.UserState.ToggleAvailability"
               Outlined="true"
               Label="Back">
    </MatButton>

</div>

@code {
    private Chart _barChart;
}