@inherits StateComponentBase

<div class="downloader-headline">
    <MatHeadline2>Preparing download (@Utilities.FormatByteCount(this.UserState.GetByteCount()))</MatHeadline2>
</div>

<div class="downloader-content">
    <div class="small-text">
        @this.UserState.DownloadMessage
    </div>
    <MatProgressBar Progress="@this.UserState.DownloadProgress"></MatProgressBar>

    @if (!this.IsCancelling)
    {
        <MatButton Raised="true" @onclick="this.CancelDownload">Cancel</MatButton>
    }
    else
    {
        <MatButton Raised="true" Disabled="true">Cancelling ...</MatButton>
    }
</div>