<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Create new code file</MatDialogTitle>
    <MatDialogContent>
        <p>You are about to delete the current code file. Proceed?</p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="this.Accept" Raised="true">Yes</MatButton>
        <MatButton OnClick="this.Cancel">Cancel</MatButton>
    </MatDialogActions>
</MatDialog>