<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Log Book</MatDialogTitle>
    <MatDialogContent>
        @if (this.IsOpen)
        {
            <div class="logbook">
                @foreach (var entry in this.UserState.ProjectContainer.ProjectMeta.Logbook)
                {
                    <p class="logbook-entry">
                        @entry  
                    </p>
                }
            </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => this.OnIsOpenChanged(false)">Close</MatButton>
    </MatDialogActions>
</MatDialog>