@inherits LayoutComponentBase
@inject StateManager StateManager

@if (!this.StateManager.IsInitialized)
{
    <StartupWizard />
}
else
{
    <div class="flex-row">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>
}

@code 
{
    protected override void OnParametersSet()
    {
        this.StateManager.PropertyChanged += (sender, e) =>
        {
            if (e.PropertyName == nameof(StateManager.IsInitialized))
            {
                this.InvokeAsync(() =>
                {
                    this.StateHasChanged();
                });
            }
        };
    }
}

