@inherits LayoutComponentBase
@inject AppState AppState

@if (!this.AppState.IsAppInitialized)
{
    <StartupWizard />
}
else
{
    <div class="flex-row">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>
}

@code 
{
    protected override void OnParametersSet()
    {
        this.AppState.PropertyChanged += (sender, e) =>
        {
            if (e.PropertyName == nameof(AppState.IsAppInitialized))
            {
                this.InvokeAsync(() =>
                {
                    this.StateHasChanged();
                });
            }
        };
    }
}

