@inherits StateComponentBase

<div class="nav">
    <a class="nav-logo" href="/">
        <img src="images/network_icon.png" />
        OneDAS Explorer
    </a>
    @if (this.AppState.IsDatabaseUpdating)
    {
        <div class="flex-centered"><i class="pulsate-css"></i>&nbsp;&nbsp; Updating database ...</div>
    }
    <LoginDisplay />
</div>