@inject AppState AppState

<div class="news">
    @foreach (var newsEntry in this.AppState.NewsPaper.News)
    {
        <div class="news-card">
            <div class="news-card-header">
                <MatSubtitle1 class="clear-margin">
                    @newsEntry.Title
                </MatSubtitle1>
                <span class="small-text">
                    @newsEntry.Date.ToString("dd.MM.yyyy")
                </span>
            </div>

            <span class="small-text">
                @newsEntry.Message
            </span>
        </div>
    }
</div>