<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Presets</MatDialogTitle>
    <MatDialogContent>
        @if (this.IsOpen)
        {
            <div class="attachments">

                @foreach (var preset in this.UserState.GetPresets())
                {
                    <div class="attachment" @onclick="() => this.LoadPreset(preset)">
                        <div class="attachment-icon">
                            <i class="far fa-file-code"></i>
                        </div>
                        <span class="attachment-name">
                            @this.GetFileName(preset)
                        </span>
                    </div>
                }
            </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => this.OnIsOpenChanged(false)">Close</MatButton>
    </MatDialogActions>
</MatDialog>