@inherits AppStateComponentBase

<div class="settings-content-box">
    <MatList>
        @foreach (var user in this.Settings.Users)
        {
            <MatListItem @onclick="() => this.Settings.User = user">
                @user.UserName
            </MatListItem>
        }
    </MatList>

    @if (this.Settings.Claims != null)
    {
        <div class="flex-column">
            @foreach (var claim in this.Settings.Claims)
            {
                <MatTextField @bind-Value="@claim.Type" Label="Claim type"></MatTextField>
                <MatTextField @bind-Value="@claim.Value" Label="Claim value"></MatTextField>
                @if (!string.IsNullOrWhiteSpace(claim.Type))
                {
                    <MatButton @onclick="() => this.Settings.RemoveClaim(claim)">
                        <i class="fa fa-minus" aria-hidden="true"></i> &nbsp; Delete
                    </MatButton>
                }
            }
        </div>

        <MatButton @onclick="this.Settings.SaveClaimChanges">
            <i class="fa fa-save" aria-hidden="true"></i> &nbsp; Save
        </MatButton>
    }
</div>