@inherits StateComponentBase

@if (_showWarning)
{
    <div class="visualize-box-progress">
        <MatHeadline4>Size limit (20 MB) exeeded</MatHeadline4>
    </div>
}
else
{
    if (this.UserState.VisualizeProgress > -1)
    {
        <div class="visualize-box-progress">
            <MatHeadline4>Loading data ...</MatHeadline4>
            <MatProgressBar Progress="this.UserState.VisualizeProgress" />
        </div>
    }

    <div id="visualize-chart-container" />
}