@page "/filter-editor"
@inherits UserStateComponentBase

<div class="left-column">
    <div class="settings-box mat-elevation-z11">
        <FilterDescriptionSettingsBox FilterDescription="this.FilterDescription" OnSaveAsync="this.SaveAsync" />
    </div>
</div>
<div class="center-column monaco-editor-root-container">
    <div class="monaco-box mat-elevation-z11">
        <div id="monaco-editor" class="monaco-editor-container"></div>
    </div>
    <div class="diagnostics-box mat-elevation-z11">
        @if (this.Diagnostics is not null)
        {
            @foreach (var diagnostic in this.Diagnostics)
            {
                <div>(@((diagnostic.Start.Line + 1) + ", " + (diagnostic.Start.Character + 1))): @diagnostic.Message</div>
            }
        }
    </div>
</div>
<div class="right-column">
    <div class="selected-channel-box mat-elevation-z11">
        @foreach (var filterDescription in this.AppState.FilterSettings.FilterDescriptions)
        {
            <div @onclick="() => this.FilterDescription = new FilterDescriptionViewModel(filterDescription)">@(filterDescription.Name) / @(filterDescription.Group)</div>
        }
    </div>
</div>