.monaco-box {
    flex: 3;
    height: 100%;
    background-color: var(--monaco-vscode-color);
    padding-top: 10px;
    margin: 15px;
}

.diagnostics-box {
    flex: 1;
    height: 100%;
    background-color: var(--box-color);
    padding: 10px;
    margin: 15px;
}

.codedefinition-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
}

.codedefinition-item.active {
    color: var(--active-color);
}