@page "/"
@inherits StateComponentBase

@if (this.UserState.ClientState != ClientState.PrepareDownload)
{
    <div class="left-column">
        <div class="settings-box mat-elevation-z11">
            <SettingsBox />
        </div>
    </div>
    <div class="center-column">
        @if (this.UserState.ClientState != ClientState.DataVisualizing)
        {
            <div class="project-box mat-elevation-z11">
                <ProjectBox />
            </div>
            <div class="channel-box mat-elevation-z11">
                @if (this.UserState.ClientState != ClientState.Availability)
                {
                    <ChannelBox />
                }
                else
                {
                    <AvailabilityBox />
                }
            </div>
        }
        else
        {
            <div class="visualize-box mat-elevation-z11">
                <VisualizeBox />
            </div>
        }
    </div>
    <div class="right-column">
        <div class="news-box mat-elevation-z11">
            <NewsTicker />
        </div>
        <div class="selected-channel-box mat-elevation-z11">
            <DownloadBox />
        </div>
    </div>
}
else
{
    <div class="downloader mat-elevation-z11">
        <DownloadUI />
    </div>
}
