@page "/playground"
@inherits AppStateComponentBase
@using BlazorMonaco

<div class="left-column">
   
</div>
<div class="center-column">
    <div class="monaco-editor-root-container">
        <MonacoEditor @ref="_editor" ConstructionOptions="EditorConstructionOptions" OnDidChangeModelContent="OnDidChangeModelContent" />

        <div class="monaco-editor-diagnostics">
            @if (this.Diagnostics is not null)
            {
                @foreach (var diagnostic in this.Diagnostics)
                {
                    <div>(@((diagnostic.Start.Line + 1) + ", " + (diagnostic.Start.Character + 1))): @diagnostic.Message</div>
                }
            }
        </div>
    </div>
</div>
<div class="right-column">
    
</div>

@code{
    private MonacoEditor _editor;

    private void OnResize()
    {
        _editor.Layout();
    }
}