@page "/settings"

@attribute [Authorize(policy: "RequireAdmin")]
@inherits StateComponentBase

<div class="left-column">
    <SettingsNavBox />
</div>
<div class="center-column">
    <SettingsContentBox />
</div>
<div class="right-column">
    
</div>