@inherits AppStateComponentBase

@using ChartJs.Blazor.Charts

<div class="data-availability">

    <div class="data-availability-chart-container">
        <span>Availability&nbsp;in&nbsp;%</span>
        <div class="data-availability-chart">
            <ChartJsBarChart @ref="barChart" Config="this.Config"></ChartJsBarChart>
        </div>
    </div>

    <MatButton OnClick="this.AppState.ToggleDataAvailability"
               Outlined="true"
               Label="Back">
    </MatButton>

</div>

@code {
    private ChartJsBarChart barChart;
}