@using BlazorEmbedLibrary
@inherits LayoutComponentBase

<EmbeddedContent BaseType="@(typeof(MatBlazor.BaseMapper))" />

<div class="flex-row">
    <NavMenu />
</div>

<div class="main">
    <div class="settings flex-column">
        <Settings />
    </div>
    <div class="content flex-column">
        @Body
    </div>
    <div class="news flex-column">
        <News />
    </div>
</div>

@code
{
    bool hasConnected = false;
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            StateHasChanged();
            hasConnected = true;
        }
    }
}