@inherits LayoutComponentBase

<div class="flex-row">
    <NavMenu />
</div>

<div class="main">
    <div class="settings flex-column">
        <Settings />
    </div>
    <div class="content flex-column">
        @Body
    </div>
    <div class="news flex-column">
        <NewsTicker />
    </div>
</div>