<div class="nav">
    <div class="nav-logo">
        <img src="images/network_icon.png" />
        OneDAS Explorer
    </div>
    <div class="nav-signin">
        Sign In
        <i class="fas fa-sign-in-alt"></i>
    </div>
</div>