@inject AppStateViewModel appState

<div class="news">
    @foreach (var newsEntry in appState.NewsPaper.News)
    {
        <div class="news-card">
            <div class="news-card-header">
                <MatSubtitle1 class="clear-margin">
                    @newsEntry.Title
                </MatSubtitle1>
                <span>
                    @newsEntry.Date.ToString("dd.MM.yyyy")
                </span>
            </div>

            <span>
                @newsEntry.Message
            </span>
        </div>
    }
</div>