<MatDialog @bind-IsOpen="@this.IsOpen" CanBeClosed="false">
    <MatDialogTitle>Preset Files</MatDialogTitle>
    <MatDialogContent>
        @if (this.IsOpen)
        {
            <div class="attachments">

                @foreach (var preset in this.AppState.GetPresets())
                {
                    <div class="attachment">
                        <div class="attachment-icon">
                            <i class="far fa-file-code"></i>
                        </div>
                        <a class="attachment-name" href="@this.GetHref(preset)" target="_blank">
                            @this.GetFileName(preset)
                        </a>
                    </div>
                }
            </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => this.OnIsOpenChanged(false)">Close</MatButton>
    </MatDialogActions>
</MatDialog>