@inherits AppStateComponentBase

@using BlazorInputFile

<div class="settings-content mat-elevation-z11">

    <MatDatePicker class="settings-control"
                   Label="From (UTC)"
                   Maximum="this.AppState.DateTimeBeginMaximum"
                   Format="dd.MM.yyyy HH:mm"
                   @bind-Value="this.AppState.DateTimeBeginWorkaround"
                   EnableTime="true"
                   Enable24hours="true">
    </MatDatePicker>

    <MatDatePicker class="settings-control"
                   Label="To (UTC)"
                   Minimum="this.AppState.DateTimeEndMinimum"
                   Format="dd.MM.yyyy HH:mm"
                   @bind-Value="this.AppState.DateTimeEndWorkaround"
                   EnableTime="true"
                   Enable24hours="true">
    </MatDatePicker>

    <MatSelectItem class="settings-control"
                   Label="File Granularity"
                   @bind-Value="this.AppState.FileGranularity"
                   Items="this.AppState.FileGranularityValues">
        <ItemTemplate Context="value">
            @Utilities.GetEnumLocalization(@value)
        </ItemTemplate>
    </MatSelectItem>

    <MatSelectItem class="settings-control"
                   Label="File Type"
                   @bind-Value="this.AppState.FileFormat"
                   Items="this.AppState.FileFormatValues">
        <ItemTemplate Context="value">
            @Utilities.GetEnumLocalization(@value)
        </ItemTemplate>
    </MatSelectItem>

    <MatSelectItem class="settings-control"
                   Label="Sample Rate"
                   @bind-Value="this.AppState.SampleRate"
                   Items="this.AppState.SampleRateValues">
    </MatSelectItem>

    <div class="configuration-panel">
        <MatDivider></MatDivider>

        <div class="flex-row">
            <div class="configuration-panel-hover">
                <div class="icon-button">
                    <i class="fas fa-folder-open" aria-hidden="true"></i>
                    <MatSubtitle2 class="clear-margin">Load</MatSubtitle2>
                </div>
                <InputFile OnChange="OnLoadExportSettingsAsync" accept="application/JSON" />
            </div>

            <div class="configuration-panel-hover">
                <div class="icon-button" @onclick="OnSaveExportSettingsAsync">
                    <i class="fas fa-file-download" aria-hidden="true"></i>
                    <MatSubtitle2 class="clear-margin">Save</MatSubtitle2>
                </div>
            </div>
        </div>
    </div>

</div>