@using BlazorInputFile

<div class="settings-content mat-elevation-z11">

    <MatDatePicker class="settings-control"
                   Label="From (UTC)"
                   Maximum="this.AppState.DateTimeBeginMaximum"
                   Format="dd.MM.yyyy HH:mm"
                   @bind-Value="this.AppState.DateTimeBegin"
                   EnableTime="true"
                   Enable24hours="true">
    </MatDatePicker>

    <MatDatePicker class="settings-control"
                   Label="To (UTC)"
                   Minimum="this.AppState.DateTimeEndMinimum"
                   Format="dd.MM.yyyy HH:mm"
                   @bind-Value="this.AppState.DateTimeEnd"
                   EnableTime="true"
                   Enable24hours="true">
    </MatDatePicker>

    <MatSelectItem class="settings-control"
                   Label="File Granularity"
                   @bind-Value="this.AppState.FileGranularity"
                   Items="this.AppState.FileGranularityValues">
        <ItemTemplate Context="value">
            @Utilities.GetEnumLocalization(@value)
        </ItemTemplate>
    </MatSelectItem>

    <MatSelectItem class="settings-control"
                   Label="File Type"
                   @bind-Value="this.AppState.FileFormat"
                   Items="this.AppState.FileFormatValues">
        <ItemTemplate Context="value">
            @Utilities.GetEnumLocalization(@value)
        </ItemTemplate>
    </MatSelectItem>

    <MatSelectItem class="settings-control"
                   Label="Sample Rate"
                   @bind-Value="this.AppState.SampleRate"
                   Items="this.AppState.SampleRateValues">
    </MatSelectItem>

    <div class="configuration-panel">
        <MatDivider></MatDivider>
        <div class="flex-row">
            <MatIconButton>
                <i class="fas fa-folder-open" aria-hidden="true"></i>
            </MatIconButton>

            <MatIconButton OnClick="OnSaveExportSettings">
                <i class="fas fa-file-download" aria-hidden="true"></i>
            </MatIconButton>
        </div>

        <div class="flex-row">
            <MatSubtitle2 class="clear-margin">Load</MatSubtitle2>
            <MatSubtitle2 class="clear-margin">Save</MatSubtitle2>
            <InputFile OnChange="OnLoadExportSettings" />
        </div>
    </div>

</div>