<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1 class="display-4 mr-auto">Extensions and Updates</h1>
        </div>
    </div>
</div>

<div id="Extension_Content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Message Log
                </div>
                <div class="card-body" style="overflow: hidden">
                    <div class="message-log" style="margin-right: -36px; padding-right: 36px;">
                        <ul class="list-group" data-bind="foreach: MessageLog">
                            <li class="message-log-list-item" data-bind="text: $data" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-header">
                    Installed packages
                </div>
                <div class="card-body">
                    <!-- ko if: $root.InstalledPackageSet().length === 0 -->
                        <h5 class="d-block text-center mt-2"><small class="text-muted">- no packages installed -</small></h5>
                    <!-- /ko -->
                    <!-- ko if: $root.InstalledPackageSet().length > 0 -->
                        <div class="table-responsive">
                            <table class="table table-sm table-hover small">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Action</th>
                                        <th>Name</th>
                                        <th>Version</th>
                                    </tr>
                                </thead>
                                <!-- ko if: IsProcessing -->
                                    <tbody data-bind="foreach: $root.InstalledPackageSet">
                                        <tr>
                                            <td>
                                                <span class="fa fa-times url" style="color:darkgray">
                                                </span>
                                            </td>
                                            <td data-bind="text: PackageId"></td>
                                            <td data-bind="text: Version"></td>
                                        </tr>
                                    </tbody>
                                <!-- /ko -->
                                <!-- ko ifnot: IsProcessing -->
                                    <tbody data-bind="foreach: $root.InstalledPackageSet">
                                        <tr>
                                            <td>
                                                <span class="fa fa-times url"
                                                      data-bind="click: $parent.UninstallPackage">
                                                </span>
                                            </td>
                                            <td data-bind="text: PackageId"></td>
                                            <td data-bind="text: Version"></td>
                                        </tr>
                                    </tbody>
                                <!-- /ko -->
                            </table>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Loaded extensions
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover small">
                            <thead class="thead-default">
                                <tr>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.DataGatewayPluginIdentificationSet">
                                <tr>
                                    <td>data gateway</td>
                                    <td data-bind="text: Name, tooltip: { title: Description}"></td>
                                    <td data-bind="text: ProductVersion"></td>
                                </tr>
                            </tbody>
                            <tbody data-bind="foreach: $root.DataWriterPluginIdentificationSet">
                                <tr>
                                    <td>data writer</td>
                                    <td data-bind="text: Name, tooltip: { title: Description}"></td>
                                    <td data-bind="text: ProductVersion"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            Package Manager
                        </div>
                        <div class="col-4" style="padding-right:0px; padding-left:0px">
                            <select class="form-control"
                                    style="margin-top:-8px; margin-bottom:-8px"
                                    data-bind="options: $root.WebServerOptionsLight().PackageSourceSet,
                                               optionsText: 'Name',
                                               value: SelectedPackageSource,
                                               optionsCaption: 'Select a source ...'">
                            </select>
                        </div>
                        <div class="col-4">
                            <div class="input-group" style="margin-top:-8px; margin-bottom:-8px">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search ..."
                                       data-bind="textInput: SearchTerm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- ko ifnot: IsSearching -->
                        <!-- ko if: SearchPackageMetadataSet().length === 0 -->
                            <h5 class="d-block text-center mt-2"><small class="text-muted">- no packages found -</small></h5>
                        <!-- /ko -->
                        <!-- ko if: SearchPackageMetadataSet().length > 0 -->
                            <div class="table-responsive">
                                <table class="table table-sm table-hover small">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Action</th>
                                            <th>Name</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: SearchPackageMetadataSet">
                                        <tr>
                                            <td>
                                                <!-- ko if: $parent.IsProcessing -->
                                                    <!-- ko if: IsInstalled() && !IsUpdateAvailable() -->
                                                    <span class="fa fa-plus url" style="color:darkgray">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: IsInstalled -->
                                                    <span class="fa fa-plus url" style="color:darkgray"
                                                            data-bind="click: $parent.InstallPackage">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko if: IsUpdateAvailable -->
                                                    <span class="fa fa-cloud-upload url" style="color:darkgray"
                                                            data-bind="click: $parent.UpdatePackage">
                                                    </span>
                                                    <!-- /ko -->
                                                <!-- /ko -->

                                                <!-- ko ifnot : $parent.IsProcessing -->
                                                    <!-- ko if: IsInstalled() && !IsUpdateAvailable() -->
                                                    <span class="fa fa-plus url" style="color:darkgray">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: IsInstalled -->
                                                    <span class="fa fa-plus url"
                                                            data-bind="click: $parent.InstallPackage">
                                                    </span>
                                                    <!-- /ko -->
                                                    <!-- ko if: IsUpdateAvailable -->
                                                    <span class="fa fa-cloud-upload url"
                                                            data-bind="click: $parent.UpdatePackage">
                                                    </span>
                                                    <!-- /ko -->
                                                <!-- /ko -->
                                            </td>
                                            <td data-bind="text: PackageId, tooltip: { title: Description()}"></td>
                                            <td data-bind="text: Version"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!-- /ko -->
                            <div class="d-flex">
                                <!-- ko if: CanClickPrevious-->
                                <div class="btn btn-outline-info" data-bind="click: PreviousPage">
                                    <span class="fa fa-arrow-left"></span>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: CanClickNext -->
                                <div class="btn btn-outline-info ml-auto" data-bind="click: NextPage">
                                    <span class="fa fa-arrow-right"></span>
                                </div>
                                <!-- /ko -->
                            </div>
                    <!-- /ko -->
                    <!-- ko if: IsSearching -->
                        <h5 class="d-block text-center mt-2"><small class="text-muted">Searching ...</small></h5>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>