@using Microsoft.AspNetCore.Components

@inject IUriHelper UriHelper

<li class="nav-item @((this.IsSelected ? "active" : string.Empty))">

    <a class="nav-link" href="@PageDescription.Route">
        <i class="material-icons">@PageDescription.IconName</i>
        <p>@PageDescription.DisplayName</p>
    </a>

</li>

@functions {

    private string _routeAbsolute;

    bool IsSelected { get; set; }
    [Parameter] PageDescription PageDescription { get; set; }

    protected override void OnInit()
    {
        _routeAbsolute = this.UriHelper.ToAbsoluteUri(this.PageDescription.Route).AbsoluteUri;

        this.IsSelected = _routeAbsolute == this.UriHelper.GetAbsoluteUri();
        this.UriHelper.OnLocationChanged += UriHelper_OnLocationChanged;

    }

    private void UriHelper_OnLocationChanged(object sender, string e)
    {
        this.IsSelected = _routeAbsolute == e;
        this.StateHasChanged();
    }
}