@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}

:root {
    --nav-bg-color: #0d343e;
    --main-bg-color: #215d6a;
    --box-color: rgba(255, 255, 255, 0.87);
    --font-color: rgba(0, 0, 0, 1);
    --font-color-inverse: rgba(255, 255, 255, 1);
    --font-color-subtitle: rgba(0, 0, 0, 0.54);
    --font-color-highlight: rgb(255, 96, 0);
    --hover-color: rgba(136, 14, 79, 0.80);
    --hover-bg-color: rgba(255, 255, 255, 0.6);
    --active-color: rgba(136,14,79,1);
    --active-bg-color: rgba(255, 255, 255, 0.8);
    --disabled-color: rgba(0, 0, 0, 0.3);
    --monaco-vscode-color: rgba(30, 30, 30, 1);
}

html, body {
    font-family: 'Roboto';
}

html {
    min-height: 700px;
    height: 100%;
    min-width: 1750px;
    max-width: 100%;
    color: var(--font-color);
    background-color: var(--main-bg-color);
}

body {
    min-height: 900px;
    height: 100%;
    min-width: 1750px;
    max-width: 100%;
    margin: 0;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.monaco-editor-container {
    flex: 3;
    height: 100%;
}

.startup-settings-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-top: 10rem;
    padding-bottom: 2rem;
}

.startup-settings-subbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .startup-settings-subbox > .mdc-button {
        align-self: end;
    }

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-height: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    color: var(--font-color-inverse);
    background-color: var(--nav-bg-color);
    padding: 10px 15px 10px 15px;
    height: 40px;
    width: 100%;
}

    .nav a {
        color: inherit;
        text-decoration: none;
    }

    .nav .nav-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.25rem;
    }

        .nav .nav-logo img {
            width: 35px;
            height: 35px;
            margin-right: 7px;
        }

.login-display {
    display: flex;
    flex-direction: row;
}
    .login-display a.active .mdc-button {
        border-bottom: 1px solid var(--active-color);
    }

    .login-display .mdc-button {
        color: var(--box-color) !important;
        margin-left: 15px;
    }

        .login-display .mdc-button.active {
            border-bottom: 1px solid var(--active-color);
        }

    .login-display .submit-button {
        border: none;
        outline: none;
        background: none;
        padding: 0;
    }

    .login-display .nav-signin {
        color: rgba(255,255,255,.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.0rem;
    }

    .login-display a {
        text-decoration: none;
    }

        .login-display .nav-signin:hover {
            color: white;
        }

        .login-display .nav-signin svg {
            margin-left: 10px;
        }

.left-column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 300px;
}

.settings-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--box-color);
    padding: 10px;
    height: 100%;
    margin: 15px;
}

    .settings-box h6 {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 10px;
    }

.validation-message-for-settings-control > .validation-message {
    margin-top: -1em;
}

.settings-control {
    width: 100%;
    margin-bottom: 2em;
    background-color: #00000000 !important;
}

    .settings-control .mdc-select__anchor {
        width: 100%;
        background-color: #00000000 !important;
    }

.mdc-menu {
    width: 250px;
}

.chart-settings {
    display: flex;
    flex-direction: column;
}

.chart-settings > h6 {
    margin-top: 0.5rem;
    align-self: center;
}

.preset-panel {
    display: flex;
    flex-direction: column;
    align-content: center;
}

    .preset-panel button {
        color: black !important;
    }

    .preset-panel button:hover {
        color: var(--active-color) !important;
    }

.configuration-panel {
    
}

    .configuration-panel h6 {
        margin: 0;
        margin-bottom: 5px;
    }

.configuration-panel-hover {
    height: 74px;
    user-select: none;
    padding-left: 7px;
    padding-right: 7px;
}

    .configuration-panel-hover:hover {
        color: var(--active-color);
        border-radius: 40px;
    }

    .configuration-panel-hover.active {
        color: var(--active-color) !important;
    }

    .configuration-panel-hover.disabled {
        color: var(--disabled-color) !important;
    }

    .configuration-panel-hover div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .configuration-panel-hover input[type=file] {
        display: none;
    }

    .configuration-panel-hover.fixed-width {
        width: 74px;
    }

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
}

    .icon-button svg {
        margin-top: 8px;
        margin-bottom: 8px;
    }

.center-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 1000px;
}

    .center-column h5 {
        margin: 0px 15px 10px 15px;
    }

.project-box {
    display: flex;
    flex-direction: row;
    min-height: 0;
    background-color: var(--box-color);
    flex: 1.2;
    padding: 10px;
    margin: 15px;
}

.quality-controlled {
    color: green;
}

.project-box-available {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

    .project-box-available ul {
        padding: 0;
        padding-bottom: 10px;
        overflow-y: scroll;
        scrollbar-color: darkgray #fff0;
        scrollbar-width: thin;
    }

.project-item .small-text {
    font-size: 0.875rem;
}

.project-item {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}

.project-item:hover {
    background-color: var(--hover-bg-color);
}

.project-item.active {
    color: var(--active-color);
}

.project-item.disabled {
    color: var(--disabled-color);
}

    .project-item.disabled div {
        color: var(--disabled-color) !important;
    }

.project-box-selected {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

    .project-box-selected > span {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }

.project-box-selected-footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 15px;
    justify-content: space-between;
    align-items: end;
    color: var(--font-color-subtitle);
}

.project-box-selected-footer-date {
    margin-bottom: 0.8rem;
}

.project-box-selected-footer-icons {
    display: flex;
    flex-direction: row;
}

    .project-box-selected-footer-icons .selected {
        color: #880e4f;
    }

.long-description {
    margin: 0;
    margin-left: 15px;
    display: block;
    font-size: 0.875rem !important;
}

.mdc-dialog__content {
    padding-bottom: 0 !important;
}

.attachments {
    display: flex;
    flex-direction: column;
    margin-top: 1em !important;
}

    .attachments a:link {
        color: inherit;
        text-decoration: none;
    }

    .attachments a:visited {
        color: inherit;
        text-decoration: none;
    }

    .attachments a:active {
        color: inherit;
        text-decoration: none;
    }

    .attachments a:hover {
        color: var(--active-color);
        background-color: var(--hover-bg-color) !important;
    }

.attachment {
    display: flex;
    flex-direction: row;
    padding: 2px 7px 2px 0px;
    cursor: pointer;
}

    .attachment:hover {
        color: var(--active-color);
        background-color: var(--hover-bg-color) !important;
    }

        .attachment:hover a {
            color: var(--active-color);
        }

.attachment-icon {
    font-size: 1.5rem;
    width: 25px;
}

.attachment-name {
    display: block;
    margin-left: 10px;
    font-size: 1.2rem;
    align-self: end;
}

.channel-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    background-color: var(--box-color);
    padding: 10px;
    margin: 15px;
    user-select: none;
}

.available-groups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 250px;
    min-width: 250px;
}

    .available-groups .mdc-text-field {
        background-color: #ffffff00 !important;
    }

    .available-groups .mdc-text-field {
        margin-bottom: 15px;
    }

.group-entry {
    display: flex;
    padding: 3px 5px 3px 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

    .group-entry.selected {
        color: var(--active-color) !important;
        background-color: var(--active-bg-color);
        font-weight: 500;
    }

    .group-entry:hover {
        background-color: var(--hover-bg-color);
    }

.group-entry-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-entry-count {
    width: 30px;
    direction: rtl;
    font-size: 0.8rem;
    color: var(--font-color-subtitle);
}

.available-groups-list {
    margin-bottom: auto;
    cursor: pointer;
}

.available-channels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 350px;
    margin-left: 15px;
    margin-top: 15px;
}

.channel-expander {
    display: flex;
    flex-direction: column;
    height: 2.8rem;
    padding: 2px 2px 2px 2px;
}

    .channel-expander:hover {
        color: var(--hover-color) !important;
        background-color: var(--hover-bg-color);
    }

.channel-name {
    display: flex;
    flex-direction: row;
}

.channel-datasets {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

    .channel-datasets div {
        font-size: 0.9rem;
        padding: 2px 4px 2px 4px;
        margin: 0px 2px 0px 2px;
        border: 1px solid rgba(0, 0, 0, 0.30);
        color: var(--font-color-subtitle);
    }

        .channel-datasets div:hover {
            color: var(--hover-color);
            border: 1px solid var(--hover-color);
        }

.channel-dataset.selected {
    color: var(--active-color) !important;
    border: 1px solid var(--active-color) !important;
}

.channel-sample-rates {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.channel-sample-rate {
    font-size: 0.9rem;
    padding: 0 0.5rem 0 0.5rem;
    color: var(--font-color-subtitle);
}

    .channel-sample-rate:hover {
        color: var(--hover-color);
    }

    .channel-sample-rate svg {
        margin-left: 5px;
        margin-right: 2px;
    }

.channel-description {
    font-size: 0.9rem;
    color: var(--font-color-subtitle);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .channel-description > input {
        width: 98%;
    }

.channel-special-info {
    font-size: 0.9rem;
    color: var(--font-color-highlight);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .channel-special-info svg {
        margin-left: 0.5rem;
    }

    .channel-special-info input {
        margin-left: 0.5rem;
    }

.right-column {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 350px;
}

.news-box {
    flex: 1.2;
    margin: 15px;
    padding: 10px 0px 10px 10px;
    min-height: 0;
    background-color: var(--box-color);
}

.news {
    height: 100%;
    overflow: auto;
    scrollbar-color: darkgray #fff0;
    scrollbar-width: thin;
}

.news-card {
    padding: 10px;
}

    .news-card span {
        display: block;
        text-align: justify;
        hyphens: auto;
        font-size: 0.875rem;
    }

.news-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
}

    .news-card-header span {
        padding-bottom: 5px;
    }

.selected-channel-box {
    flex: 2;
    margin: 15px;
    background-color: var(--box-color);
    padding: 10px 0px 10px 10px;
    min-height: 0;
}

.selected-channel-box-sub {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .selected-channel-box-sub button {
        margin-top: auto;
        margin-right: 15px;
    }

.selected-channels {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    overflow: auto;
    margin-bottom: 15px;
    scrollbar-color: darkgray #fff0;
    scrollbar-width: thin;
}

    .selected-channels > span {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        align-self: center;
    }

.selected-channel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 15px;
    white-space: nowrap;
}

    .selected-channel:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

.selected-channel-name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    margin-bottom: 3px;
}

.selected-channel-project {
    font-size: 0.8rem;
    color: var(--font-color-subtitle);
    text-overflow: ellipsis;
    overflow: hidden;
}

.downloader {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 70px;
    background-color: var(--box-color);
}

.downloader-headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.downloader-content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

    .downloader-content > div {
        margin-bottom: 15px;
    }

    .downloader-content button {
        margin-top: 15px;
        width: 150px;
        align-self: end;
    }

    .downloader-content .mdc-linear-progress {
        height: 15px;
        color: var(--mdc-theme-primary);
    }

.mdc-linear-progress__bar-inner {
    display: inline-block;
    position: absolute;
    width: 100%;
    animation: none;
    border-top: 40px solid !important;
}

.data-availability {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.data-availability button {
    align-self: end;
    width: 150px;
}

.data-availability-chart-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 15px;
}

    .data-availability-chart-container span {
        margin-top: auto;
        margin-bottom: auto;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        color: var(--font-color-subtitle);
    }

.data-availability-chart {
    display: flex;
    flex: 1;
    max-width: 100%;
}

    .data-availability-chart .row {
        flex: 1;
        max-width: 100%;
    }

.visualize-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    background-color: var(--box-color);
    padding: 10px;
    height: 100%;
    max-height: 100%;
    min-height: 0;
    margin: 15px;
    position: relative;
}

.visualize-box-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

    .visualize-box-progress h4 {
        color: rgba(255, 255, 255, 0.50);
    }

    .visualize-box-progress .mdc-linear-progress {
        height: 5px;
        width: 90%;
        color: var(--mdc-theme-primary);
    }

    .visualize-box-progress .mdc-linear-progress__buffer {
        background-color: rgba(255, 255, 255, 0.20);
    }

    .visualize-box-progress .mdc-linear-progress__buffering-dots {
        display: none;
    }

#visualize-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex: 1;
    max-height: 100%;
    width: 100%;
}

.settings-nav-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--box-color);
    padding: 10px;
    height: 100%;
    margin: 15px;
}

.settings-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--box-color);
    padding: 10px;
    height: 100%;
    width: 100%;
    margin: 15px;
}

.diagnostics-box {
    overflow: scroll;
}

.clear-margin {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-centered-vertically {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-self-end {
    align-self: end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    cursor: pointer;
}

    .paginator .disabled {
        color: var(--disabled-color) !important;
    }

    .paginator i:hover {
        color: var(--active-color);
        background-color: var(--hover-bg-color);
    }

.small-text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
    color: var(--font-color-subtitle);
}

.ml-15px {
    margin-left: 15px;
}

.ml-auto {
    margin-left: auto;
}

/* workaround for MatBlazor not applying theme colors everywhere */
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #880e4f !important;
}

.mdc-select--focused:not(.mdc-select--disabled) .mdc-floating-label {
    color: #880e4f !important;
}

.pulsate-css {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    border: 3px solid #999;
    border-radius: 30px;
    height: 18px;
    width: 18px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

/* FormGenerator */
.form-generator-property {
    margin: 1rem;
}

.form-generator-add-button {
    padding-left: 1rem;
    color: lightgrey;
}

.form-generator-title:hover + .form-generator-add-button, .form-generator-add-button:hover {
    color: var(--nav-bg-color);
    cursor: pointer;
}

.form-generator-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.form-generator-list-item {
    border: 1px dashed var(--hover-color);
}

.form-generator-remove-button {
    padding-left: 1rem;
    font-size: 1.5rem;
    color: lightgrey;
}

    .form-generator-remove-button:hover {
        color: darkred;
    }

.job-creator-analysis {
    width: 100%;
    margin: 1rem;
}

.job-creator-json-text {
    width: 100%;
    margin: 1rem;
}

.settings-content-box .mat-tab-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings-content-box .mat-tab-group .mat-tab-group-content {
    height: 100%;
}