<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define OneDasCompanyName = "OneDas Group" ?>
  
  <?define OneDasName = "OneDas" ?>
  <?define OneDasDisplayName = "OneDAS" ?>

  <?define WebServerName = "WebServer" ?>
  <?define WebServerDisplayName = "WebServer" ?>
  
  <Product Id="*"
           Name="$(var.OneDasDisplayName) $(var.WebServerDisplayName)"
           Language="1033"
           Version="$(var.WixVersion)"
           Manufacturer="$(var.OneDasCompanyName)"
           UpgradeCode="214eae03-158e-4055-85d1-4ccaa856dd68">

    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <Icon Id="ICON" SourceFile="$(var.WixHarvestPath)\$(var.WixApplicationName).exe"/>
    <Property Id="ARPPRODUCTICON" Value="ICON" />

    <Feature Id="MainComponentsFeature" Title="Main feature" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Product>
 
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktopComponent" Guid="*">
          <Shortcut Id="ApplicationShortcutDesktop"
              Name="$(var.OneDasDisplayName) $(var.WebServerDisplayName)"
              Description="free open and flexible measurement data aquisuition system with plugin support"
              Target="[INSTALLFOLDER]$(var.WixApplicationName).exe"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/$(var.OneDasDisplayName)"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="$(var.OneDasDisplayName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.WebServerDisplayName)" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="OneDasMainComponents" />
      <ComponentRef Id="ApplicationShortcutDesktopComponent" />
      <Component Guid="*">
        <util:EventSource Log="$(var.OneDasDisplayName)" 
                          KeyPath="yes" 
                          Name="$(var.OneDasDisplayName) $(var.WebServerDisplayName)" 
                          EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll"/>
      </Component>
      <Component Guid="*">
        <File Id="ServiceComponentMain" 
              Source="$(var.WixHarvestPath)\$(var.WixApplicationName).exe" 
              KeyPath="yes" 
              Vital="yes" />
        
        <ServiceInstall Description="Manage incoming and outgoing measurement data"
                        DisplayName="$(var.OneDasDisplayName) $(var.WebServerDisplayName)"
                        ErrorControl="ignore"
                        Name="$(var.WixApplicationName)"
                        Start="auto"
                        Type="ownProcess"
                        Vital="yes">
          
          <ServiceConfig DelayedAutoStart="yes" 
                         OnInstall="yes" 
                         OnReinstall ="yes" />
          
          <util:ServiceConfig FirstFailureActionType="restart"
                              SecondFailureActionType="restart" 
                              ThirdFailureActionType="restart" 
                              RestartServiceDelayInSeconds="60" 
                              ResetPeriodInDays="1" />
        </ServiceInstall>
        
        <ServiceControl Id="StartService" 
                        Start="install" 
                        Stop="both" 
                        Remove="uninstall"
                        Name="$(var.OneDasName).$(var.WebServerName)" 
                        Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
